<div>
  <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name">
      <mat-error *ngIf="getControl.name.touched && getControl.name.invalid && getControl.name.errors?.required">Name is required.</mat-error>
      <mat-error *ngIf="getControl.name.touched && getControl.name.invalid && getControl.name.errors?.minlength">Minimum 4 character are required.</mat-error>
    </mat-form-field>
    <div class="form-buttons">
      <button mat-raised-button (click)="closeDialog()">Close</button>
      <button mat-raised-button type="submit">Submit</button>
    </div>
  </form>
</div>