<mat-card class="note-card" *ngIf="note">
    <h4>{{ note.name }}</h4>
    <div *ngIf="note.id">
        <button mat-raised-button (click)="openModifyNoteForm()">Modify</button>
        <button mat-raised-button color="warn" (click)="deleteNote(note.id)">Remove</button>
    </div>
</mat-card>
