<div>
    <button class="create-note-button" mat-raised-button (click)="openNoteFormDialog()" >New note</button>
    <h2>To Do List</h2>
    <div *ngFor="let note of notes$ | async">
        <app-note [note]="note"></app-note>
    </div>
</div>
